<div class="col-xs-0 col-sm-3" ></div>
<div class="col-xs-12 col-sm-6" >
     <h1>Welcome {{::user.name}} !</h1>
    <p>{{::message}}</p>
    <p>You have {{products.num }} products to approved <a href="#" ng-click="link('approveproduct','products')">{{::words.approveproducts}}</a></p>
    <p>You have {{recipes.num }} recipes to approved <a href="#" ng-click="link('approverecipes','recipes')">{{::words.approverecipes}}</a> </p>
</div>
<div class="col-xs-0 col-sm-3" ></div>
