 @*c<div id="login"ng-controller="loginCtrl"*@>
@* <div class="col xs-12 hidden-xs col-sm-3 " >
                <div class="well">
                    <p>Just click Enter to start.
                    </p>
                    <span class="glyphicon glyphicon-arrow-down"></span>
                </div>
                 <div class="well">
                    <p>
                        Although we did our best to ensure that this site is compatible to all browsers, for best performance use Chrome. It is totally free! You can 
                        <a href="https://www.google.com/intl/en/chrome/browser/desktop/index.html">download Chrome</a> Chrome here.
                    </p>
                </div>
                <div class="well">
                    <p>
                       Make sure 
                        <a href="http://activatejavascript.org/en/instructions/chrome">Javascript</a> is enabled.
                    </p>
                </div>
        </div>
<div class="col-xs-12 col-sm-9" id="login">
    <div ng-switch="part">
        <div ng-switch-when="welcome">            
            <h1 class="large">Welcome.</h1>
            <h6>We are glad to see you here.</h6>
            <p>
                Over here you can easily write and manipulate any recipe you want! 
                Just click Enter and Sign up. 
                You will be able to view your recipe's nutriritional value near your recipe, and upload it for others to enjoy or just save it for yourself to use anytime. 
                If you just want to explore and enjoy ready made recipes that our community uploaded, all you have to do is click on Guest. 
            </p>
        </div>
        <div ng-switch-when="sign">
            <form name="newUser" ng-model="newUser" ng-submit="register()" >
                <div class="row">
                    <span class="glyphicon glyphicon-pencil"></span>
                    <h1>{{words.signup}}</h1>
                </div>
                <div class="row">
                    <h2>Enter your name and a password to sign in</h2>               
                    <p>Once you are registered you will be able to design your own recipes and upload them</p>
                    <p>We suggest you add your email as well. This way we will be able to send you important updates.</p>
                </div>
                <div class="row">
                    <input type="text" ng-model="user.name" placeholder="name" name="name" required="required" />
                </div>
                <div class="row">
                    <input type="password" ng-model="user.password" placeholder="password" name="password" required="required" />
                </div>
                <div class="row">
                    <input type="email" ng-model="user.email" placeholder="Email" name="email" />
                </div>
                <div class="row">
                    <button type="submit">OK</button>
                    <button type="button" ng-click="state('welcome')">Cancel</button>
                </div>
            </form>            
        </div>
        <div ng-switch-when="guest">
            <div class="row">
                <span class="glyphicon glyphicon-user"></span>
                <h1>Guest</h1>
            </div>
            <div class="row">
                <h2 class="warning">Are you sure you want to continue as a guest?</h2>
                <p> You won't be able to upload any new recipes.</p>
            </div>
            <div class="row">
                <button ng-click="state('sign')">{{words.signup}}</button>
                <button ng-click="enterAnom()">Continue as a guest</button>
                <button ng-click="state(0)">cancel</button>
            </div>            
        </div>
        <div ng-switch-when="login">
            <form name="login" ng-model="login" ng-submit="loginUser()">
                <div class="row">
                    <span class="glyphicon glyphicon-log-in"></span>
                    <h1>{{words.logIn}}</h1>
                </div>
                <div class="row">
                    <h2> Enter your name and password to log in </h2>
                    <p>If you are not a registered user, please sign up.</p>
                </div>
                <div class="row">
                    <input type="text" ng-model="user.name" name="name" placeholder="Name" required="required" />
                </div>
                <div class="row">
                    <input type="password" name="password" ng-model="user.password" placeholder="password" required="required" />
                </div>
                <div class="row">
                    <button type="submit">Log In</button>
                    <button type="button" ng-click="state('welcome')">Cancel</button>
                    <button type="button" ng-click="state('sign')">{{words.signUp}}</button>
                </div>
            </form>
        </div>
        <div ng-switch-when="message" ng-switch="message.type">
            <div ng-switch-when="register_not_mail"></div>
            <div ng-switch-when="login_guest">
                <div class="row">
                    <h1>Are you sure you don't want to sign in?</h1>
                    <p>If you continue as a guest you will not be able to upload your own recipes.</p>
                </div>
                <div class="row">
                    <button ng-click="login_guest()">I'm sure</button>
                    <button type="button" ng-click="state('sign')">{{words.signUp}}</button>
                    <button ng-click="state(0)">return</button>
                </div>
            </div>
            <div ng-switch-when="login_incorrect">
                <div class="row">
                    <h1>We are terribly sorry. The Name and password you entered are not correct.</h1>
                    <p>You may have forgotten your password, or mispelled your name.</p>
                </div>
                <div class="row">
                    <button type="button" ng-click="help_user()">Help</button>
                    <button type="button" ng-click="state('login')">Try again</button>
                    <button type="button" ng-click="state('welcome')">Exit</button>
                </div>
            </div>
            <div ng-switch-when="help">
                <div class="row">
                    <h1></h1>
                    <p>{{help.message}}</p>
                </div>
                <div class="row">
                    <button type="button" ng-click="state('welcome')">Back</button>
                </div>
            </div>
            <div ng-switch-when="manager">
                <div class="row">
                    <h1>How do you want to log in?</h1>
                </div>
                <div class="row">
                    <button ng-click="$parent.changePart(1)">User</button>
                    <button ng-click="$parent.changePart(2)">Manager</button>
                </div>
            </div>
            <div ng-switch-when="enter">
                <div class="row">
                    <h1>Are you sure you want to enter like a guest?</h1>
                </div>
                <div class="row">
                    <button ng-click="enter()">Yes</button>
                    <button type="button" ng-click="state('sign')">{{words.signUp}}</button>
                    <button ng-click="enter=false; state('welcome');">Exit</button>
                </div>
            </div>
        </div>
    </div>    
</div>

</div>*@