<div class="col-xs-12">
    <form name="newUser" ng-model="newUser" ng-submit="signup()">
        <div class="row" id="messages">
            <ul>
                <li ng-repeat="msg in sign.messages">{{msg}}</li>
            </ul>
        </div>
        <div class="row">
            <h1>{{operation}}</h1>
            <p>{{message}}</p>
        </div>
        <div class="row" >
            <input autocomplete="off" type="text" ng-model="user.name" placeholder="name" name="name" required="required"/>
        </div>
        <div class="row">
            <input autocomplete="off" type="password" ng-model="user.password" placeholder="password" name="password" required="required"/>
        </div>
        <div class="row">
            <input autocomplete="off" type="email" ng-model="user.email" placeholder="Email" name="email"/>
        </div>
        <button type="submit">{{words.ok}}</button>
        <a href="#mm-1">{{words.cancel}}</a>
        <div class="row Error"></div>
    </form>
</div>