<div class="col-xs-12">
    <form name="newUser" ng-model="newUser" ng-submit="signup()" novalidate="novalidate">
        <div class="row">
        <div class="col-xs-12">
                <h1>{{operation}}</h1>
                <p>{{message}}</p>
            </div>
        <div class="col-xs-12" ng-if="new.errersrv">
            <p>{{message}}</p>
        </div>

            <div class="col-xs-12 input-group-sm">
                <label class="sr-only" for="name">name</label>
                <input id="name" autocomplete="off" type="text" ng-model="user.name" placeholder="name" name="name" required="required" />
                <span ng-if="newUser.name.$error.required && newUser.$submitted">{{::error.required}}</span>
            </div>

            <div class="col-xs-12 input-group-sm">
                <label class="sr-only" for="password">password</label>
                 <input autocomplete="off" type="password" ng-model="user.password" placeholder="password" name="password" required="required" ng-minlength="6"/> 
                <span ng-if="newUser.password.$error.required && newUser.$submitted">{{::error.required}}</span>
            <span ng-if="newUser.password.$error.minlength && newUser.$submitted">{{::error.minlength}}</span>
            </div>

            <div class="col-xs-12 input-group-sm">
                <label class="sr-only" for="confirmpassword">confirm password</label>
                <input name="confirmpassword" title="confirm password" autocomplete="off" type="password" ng-model="user.conpassword" ng-change="signup.confirm()" placeholder="confirm password"  required="required" /> 
                <span ng-if="newUser.confirmpassword.$error.required && newUser.$submitted">{{::error.required}}</span>
            <span ng-if="newUser.confirmpassword.$error.match && newUser.$submitted && !newUser.confirmpassword.$error.required">{{::error.confirm}}</span>
            </div>

            <div class="col-xs-12 input-group-sm">
                <label class="sr-only" for="email">email</label>
                <input autocomplete="off" type="email" ng-model="user.email" placeholder="Email" name="email" required="required"/> 
                <span ng-if="newUser.email.$error.required && newUser.$submitted">{{::error.required}}</span>
            <span ng-if="newUser.email.$error.email && newUser.$submitted && !newUser.email.$error.required ">{{::error.email}}</span>
            </div>           
        
           
       <div class="col-xs-6 input-group-sm">
                <label class="sr-only" for="Ok">ok</label>
                <button btn="btn-default" id="ok" type="submit"><span class="glyphicon glyphicon-ok"></span> {{words.ok}}</button>
            </div>
            <div class="col-xs-6">
                <label class="sr-only" for="cancel">cancel</label>
                <button class="btn-default" cancel" href="#mm-1"><span class="glyphicon glyphicon-ok"></span> {{words.cancel}}</button>
            </div>
       </div>
    </form>
</div>