@model Oracle.Models.recipe
    <div id="searchBox">
    <!--a place for tips-->
    <div class="col-xs-5">
        <search-recipe search-result="recipes.search"></search-recipe>
    </div>	
    <div class="col-xs-3">
        <h1> Go ahead. Click on any title.</h1>
        <ul>
            <li ng-repeat="cat in recipes.categories track by cat.id">
                <button type="button" ng-click="recipes.changeC(cat)">{{cat.name}}</button>
            </li>
        </ul>
    </div>
    <div class="col-xs-4">
        <ul>
            <li ng-repeat="group in recipes.shown">
                <h6>{{group.name}}</h6>
                <a href="#" ng-repeat="recipe in group.list track by recipe.id" ng-click="recipe.show()">
                    <label>{{recipe.name}}</label>
                    <p>{{recipe.description}}</p>
                </a>
            </li>
        </ul>
    </div>
</div>
</div>



 
