<div>
    <ng-form name="convertions">
        <section>
            <h2>{{words.measure_type}}</h2>
            <p ng-repeat="measure in measurement_type track by measure.id">
                <input type="radio"  ng-model ="config.measurement_type" ng-value="measure"/>
                <label>{{words.types[measure.measure_type1]}}</label>
            </p> 
            <input type="checkbox" ng-model="config.convert_units" /><label>{{words.units}}</label>           
        </section>
        <hr />
        <section>
            <h2>{{ words.amount }}</h2>
            <label>{{portions.portions}}</label>
            <input ng-repeat="oper in portions.operations" value="{{oper}}" ng-click="portions.calculate(oper)" type="button" />
            <input type="number" min="1" max ="10" step="0.25" ng-model="portions.operand" />
            <label>{{portions.shouldbe}}</label><br />
            <button type="button" ng-click="portions.reset()">{{ words.reset }}</button>
        </section>
        <hr />
        <input type="button" ng-click="convert()" value="{{words.ok}}" />
    </ng-form>    
</div>
