<table>
    <thead>
        <tr>
            <th>Nutritional</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="nut in nutritional">
            <td>
                {{::nut.name}}
            </td>
            <td>
                {{ nut.value|number:2 |number}}
            </td>
        </tr>
    </tbody>
</table>
