        <!--a place for tips-->
        <div class="col-xs-2" >
            <div class="well">
               <p> 
                  Nutritional values per portions
               </p>
            </div>
            <nutritional-values products="recipe.products" portions="recipe.portions"></nutritional-values>
        </div>

        <!--a place for text-->
<div class="col-xs-7">
    <p>{{recipe.favorites}}{{::like.msg}}</p>
    <section ng-if="like.active">
        <div ng-if="!like.user">
            {{like.convince}}
            <button ng-click="like.setLike()">{{::words.like}}</button>
        </div>
        <div ng-if="like.user">
            {{::like.userlike}}
        </div>
    </section>
    <div class="recipe-details recipe">
        <div>
            <h2>{{recipe.name}}</h2>
        </div>
        <div>
            <h4>{{recipe.description}}</h4>
        </div>
        <div>
            <h6>Portions: {{recipe.portions | serving : config.portions}}</h6>
        </div>
        <div>
            <h6>Preparation: {{recipe.preparation}}</h6>
        </div>
    </div>
    <div class="recipe-instructions recipe">
        <h5>Instructions:</h5>
        <p>{{recipe.instructions}}</p>
    </div>
    <div class="recipe-ingredients recipe">
        <h5>Ingredients</h5>
        @*<div ng-repeat="p in products | amountf: config track by p.id ">*@
        <div ng-repeat="p in products track by p.id ">
            <label>{{p.amount }}</label>
            <label>{{p.measurement_name }}</label>
            <label>{{p.product_name }}</label>
        </div>
    </div>
     <div class="recipe-equipments recipe">
         <h6>Special Equipments</h6>
         <span ng-repeat="eq in recipe.equipments">
             {{eq}} <span ng-if="!$last">, </span>
         </span>
     </div>    
    <div class="well">
        <p> 
            {{recipe.tips}} 
        </p>
    </div>
</div>
<calculator config="config" convert="convert"></calculator>

<nav id="calculatorMenu" class="col-xs-12 col-sm-5">
    <ul>
        <li>
            <div ng-controller="calculatorCtrl">
    <ng-form name="convertions">
        <section>
            <h2>{{words.measure_type}}</h2>
            <p ng-repeat="measure in measurement_type track by measure.id">
                <input type="radio"  ng-model ="config.measurement_type" ng-value="measure" ng-click="convert()"/>
                <label>{{words.types[measure.measure_type1]}}</label>
            </p> 
            <input type="checkbox" ng-model="config.convert_units" /><label>{{words.units}}</label>           
        </section>
        <hr />
        <section>
            <h2>{{ words.amount }}</h2>
            <label>{{portions.portions}}</label>
            <input ng-repeat="oper in portions.operations" value="{{oper}}" ng-click="portions.calculate(oper);  convert()" ng-change="convert()" ng-model="oper" type="button" />
            <input type="number" min="1" max ="10" step="0.25" ng-model="portions.operand" ng-click="convert()"/>
            <label>{{portions.shouldbe}}</label><br />
            <button type="button" ng-click="portions.reset()">{{ words.reset }}</button>
        </section>
        <hr />
        @*<input type="button" ng-click="convert()" value="{{words.ok}}" />*@
    </ng-form>    
</div>

        </li>
    </ul>
</nav>

<script>
    $("#calculatorMenu").mmenu({
        extensions: ["theme-dark", "border-full", "multiline", "pagedim-white"],
        offCanvas: {
            position: "right",
            zposition: "front"
        }
    });
</script>

 
