<div class="col-xs-0 col-sm-3" ></div>
<div class="col-xs-12 col-sm-6" id="welcomeUser">
     <h1>Hi {{user.name.camelize()}}.</h1>
    <p>Click on Recipes below view all of the recipes on the site.</p> 
    <p>If you're aregular over here, Welcome back! You can click on 
    Favorites to see all the recipes <b>you</b> liked.</p> 
    <p>As always you can add your own recipe, or product. Have fun!</p>
    <h2>Have fun!</h2>
</div>
<div class="col-xs-0 col-sm-3" >
</div>
