<div class="col-xs-0 col-sm-3" ></div>
<div class="col-xs-12 col-sm-6" >
     <h1>Welcome {{user.name.camelize()}} !</h1>
    <p>{{::message}}</p>
    <p>{{::oper}}</p>    
</div>
<div class="col-xs-0 col-sm-3" >
</div>
